:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}
